body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

input[type="range"] {
    width: 50%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}

#loading {
    display: none;
    font-size: 16px;
    color: green;
}

.sliderGroup {
    margin-bottom: 20px;
    text-align: left;
}

.sliderGroup label {
    display: block;
    margin-bottom: 5px;
}

#slidersContainer {
    width: 50%;
    margin: auto;
}

#sliderValue1,
#sliderValue2,
#sliderValue3,
#sliderValue4,
#sliderValue5,
#sliderValue6 {
    margin-top: 10px;
    font-size: 16px;
}

#canvasContainer {
    width: 100%;
    height: 500px;
    margin: 20px auto;
}